.infoCardContainer{
    display: grid;
    grid-template-areas: 
    'name pokeId'
    'types types'
    'pokeSprite pokeSprite'
    'typesComp abilities'
    ;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 12px;
    height: 100%;
    width: 60%;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: white;
    font-size: large;
}



.pokeCardName{
    grid-area: name;
    text-align: left;
    padding-left: 1rem;
}

.pokeCardId{
    grid-area: pokeId;
    text-align: right;
    padding-right: 1rem;
}

.pokeCardMainTypes{
    grid-area: types;
    display: flex;
}

.infoImage{
    grid-area: pokeSprite;
    width: 37%;
    height: auto;
    margin: auto;
}

.infoImage:hover{
    transform: scale(1.1);
}

#infoStatsAdv{
    
    display: flex;
    flex-flow: column;
    margin: auto;
    text-align: center;
    color: black;
}

.pokeCardTypesComp{
    grid-area: typesComp;
}



.types{
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    width: 3rem;
    text-align: center;
    margin-left: 10px;
}

.typesContainer{
    
    width: 100%;
    height: 100%;
    overflow-x: auto;
  
}

.typesContainer > .types{
    margin: auto;
}


#infoAbility{
    
    grid-area: abilities;
    
}

#infoAbility > h2{
    text-align: center;
    font-size:large
    
}

.abilityTitle{
    display: flex;
    justify-content: center;
    align-content: center;
}

.abilityButton{
    border: 1px solid rgb(0, 110, 255);
    border-radius: 24px;
    font-size: medium;
    min-width: 40%;
    margin: 5%;
    margin-bottom: 4%;
    margin-top: 2%;
    padding: 3%;
}

.abilityButton:hover{
    background-color:rgb(0, 110, 255);
    color: white;
}


#abilityDescription{
    max-height: 420px;
}

.carousel{
    color:rgb(24, 235, 242)
}

.carousel:hover{
    cursor: pointer;
}

@media (min-width: 1100px) {

    #infoAbility{
        grid-area: abilities;
        color: black
    }

    .types{
        border: 1px solid black;
        border-radius: 6px;
        color: white;
        width: 7rem;
        text-align: center;
        margin-left: 1rem;
    }

    .infoImage{
        grid-area: pokeSprite;
        width: 37%;
        height: auto;
        margin: auto;
    }
    
}

@media(max-width: 500px){

    .types{
        border: 1px solid black;
        border-radius: 6px;
        padding: .5rem 1.5rem;
        color: white;
        width: 3rem;
        text-align: center;
        margin: 10px auto;
        font-size: smaller;
    }

    .infoImage{
        grid-area: pokeSprite;
        width: 37%;
        height: auto;
        margin: auto;
    }
    
}

@keyframes teamCardHover {
    from{border-color: white}
    to{border-color: goldenrod}
    
}

@keyframes addHover {
    from{ background-color: rgb(24, 119, 242);}
    to {background-color: rgb(17, 91, 189);}
}