@keyframes teamCardHover {
    from{border-color: white}
    to{border-color: goldenrod}
    
}

@keyframes addHover {
    from{ background-color: rgb(24, 119, 242);}
    to {background-color: rgb(17, 91, 189);}
}

.teamviewContainer{
    display: grid;
    grid-template-areas:
    'search2'
    'info'
    'team';
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
    background-color: white;
    border-radius: 12px;
    width: 100%;
    min-height: 550px;
    padding: 12px;
}

#input{
    font-size:17px;
    margin-right: 0px;
}


.search2{
    grid-area: search2;
    margin-top: 20px;

}

.search2 > input{
    min-width: 200px;
    height: 25px;
    box-shadow: 0 5px 5px rgb(192, 192, 192);
    border: 1px solid black;
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 5px;
    margin-right: 1%;
    text-align: center;
    outline: none;
}

#searchBtn{
    border:1px solid black;
    margin-left:none;
    background-color: rgb(122, 122, 122);
    color: rgb(216, 216, 216);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 11px;
    padding-bottom: 23.7px;
    height:25px;
    text-align:center;
    box-shadow: 0 5px 5px rgb(192, 192, 192);
}

#searchBtn:hover{
    color: white;
    cursor: pointer;
}


.errorMessage{
    padding-top: 1%;
    margin-bottom: 0%;
    font-size: medium;
    color: black;
    margin: 0%;
}


.info{
    grid-area: info;
    font-size:xx-large;;
}

.infoContainer{
    display: grid;
    grid-template-areas: 
    'infoName infoStats'
    'infoAbility infoAbility';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
}

.infoViewCard{
    grid-area:infoName;
    margin-right: 0;
}
.infoViewCard > p{
    padding: 15px;
    padding-right: 0;
    padding-left: 0;
    font-size: x-large;
}

#addPokeBtn{
    border: none;
    border-radius: 12px;
    background-color: rgb(24, 119, 242);
    font-weight: 600;
    color: white;
    padding: 10px;
}

#addPokeBtn:hover{
    animation: addHover 1s;
    background-color: rgb(17, 91, 189);
    cursor: pointer
}

.infoImage{
    width: 100%;
    height: 75%;
    
}

.pTest{
    width: 50%;
    height: 100%;
    border-left: 1px solid;
    background-color: white;
    margin-top: 0;
    text-align: auto;
}

.pTestFinal{
    width: 50%;
    height: 100%;
    border-left: 1px solid;
    background-color: white;
    margin-top: 0;
    text-align: auto;
    
}

.pTest2{
    width: 50%;
    height: 100%;
    border-left: 1px solid;
    background-color: rgb(168, 168, 168);
    margin-top: 0;
    text-align: center;
}

.pTest2First{
    width: 50%;
    height: 100%;
    border-left: 1px solid;
    background-color: rgb(168, 168, 168);
    padding-top: 13px;
    margin-top: 0;
    text-align: center;
    border-radius: 9px
}

#infoStats{
    background-color: rgb(48, 142, 236);
    border: 1px solid black;
    border-radius: 12px;
    border-bottom-right-radius: 1px;
    font-size:small;
    font-weight: 600;
    grid-area: infoStats;
    margin-top: 32px;
    display: grid;
    height: min-content;
    grid-template-areas: 
    'statsNo'
    'statsType'
    'statsTrainer'
    'statsTrainerID'
    'statsAdv'
    'statsWeak'
    ;
    grid-template-rows: .25fr .5fr .25fr .25fr min-content min-content;
}


div#infoStats:nth-child(even) >div >p{
    width: 50%;
}


div#infoStats > div:nth-child(even){
    background-color: rgb(51, 95, 215);
}


#infoStatsName{
    grid-area: statsNo;
    display: flex;
    flex-flow: row;
}

#infoStatsType{
    grid-area: statsType;
    display: flex;
    flex-flow: row;
    height: min-content;
}

#infoStatsOT{
    grid-area: statsTrainer;
    display: flex;
    flex-flow: row;
    height: 100%;
}

#infoStatsOTID{
    grid-area: statsTrainerID;
    display: flex;
    flex-flow: row;
}

#infoStatsAdv{
    grid-area: statsAdv;
    display: flex;
    flex-flow: row;
  
}

#infoStatsWeak{
    grid-area: statsWeak;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-right: 0px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    
}

.statTitleType{
    height: 18.5%;
}


#infoStats > div{
    border-bottom: 1px solid black;
}

#infoAbility{
    margin-top: 40px;
    grid-area: infoAbility;
}

#infoAbility > h2{
    text-align: left;
    margin: 0;
    margin-left: 1%;
    
}

.abilityTitle{
    display: flex;
    justify-content: center;
    align-content: center;
}

.abilityButton{
    border: 1px solid rgb(0, 110, 255);
    border-radius: 24px;
    font-size: medium;
    min-width: 40%;
    margin: 5%;
    margin-bottom: 4%;
    padding: 3%;
}

.abilityButton:hover{
    background-color:rgb(0, 110, 255);
    color: white;
}


#abilityDescription{
    max-height: 420px;
}
#info >div> p{
    text-align: center;
    font-weight: 600;
    margin-bottom: none;
    
}

#info >div>img{
    margin:auto;
    width: 20%
}

.teamCardContainer{
    grid-area: team;
    border: 1px solid white;
    background-color: white;
    max-width: 100%;
    height: min-content;
    display: grid;
    grid-template-areas: 
    'Pokesprite profile-view';
    grid-template-columns: 2fr 6fr;
}

.teamCardContainer:hover{
    cursor: pointer;
    animation: teamCardHover 1s;
    border-color: goldenrod;
    border-radius: 12px;
}




.teamCardHeader{
    grid-area: profile-view;
    display: grid;
    grid-template-areas:
    ' name . delete';
    align-content: center;
}

.teamCardHeader > div{
    display: grid;
    grid-area: delete;
    height: min-content;
    justify-content: end;
}



.teamCardDelete{
    border: none;
    font-size: large;
    width: 2rem;
    height: 50%;
    background-color: white;
    color: red;
}

.teamCardDelete:hover{
    color: rgb(128, 0, 0);
    cursor: pointer;
}

.teamCardHeader > p{
    font-weight: 600;
    letter-spacing: .12rem;
    grid-area: name
}

.pokeSprite{
    height: 100%;
    align-content: center;
    justify-content:center;
    margin: none;
}

.typeContainer{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 100%;
    border-left: 1px solid;
    background-color: white;
    justify-content: center;
    
}

.testClass{
    border: 1px solid black;
    border-radius: 6px;
    padding: .5rem 1.5rem;
    color: white;
    width: 4rem;
    text-align: center;
    margin: 10px;
}
.testClass2{
    border: 1px solid black;
    border-radius: 6px;
    padding: .5rem 1.5rem;
    color: white;
    width: 4rem;
    text-align: center;
    margin: 10px;
}

.testClass3{
    border: 1px solid black;
    border-radius: 6px;
    padding: .5rem 2rem;
    color: white;
    width: 3rem;
    text-align: center;
    margin: 10px auto;
}


@media (min-width: 1100px) {

    .teamviewContainer{
        display: grid;
        grid-template-areas:
        'search2 search2'
        'info team'
        ;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: min-content 1fr;
        background-color: white;
        border-radius: 12px;
        width: 80%;
        min-height: 491px;
        padding: 12px;
    }

    .teamCardContainer{
        grid-area: team;
        border: 1px solid white;
        background-color: white;
        max-width: 100%;
        height: 10rem;
        display: grid;
        grid-template-areas: 
        'Pokesprite profile-view';
        grid-template-columns: 3fr 5fr;
        margin-left: 10px;
    }

    .infoContainer{
        display: grid;
        grid-template-areas: 
        'infoName infoStats'
        'abilities abilities';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content;
    }

    #pokeSprite{
        width: 100%;
    }



    #infoAbility{
        margin-top: 40px;
        grid-area: abilities;
    }

    .errorMessage{
        color: black;
    }

    .statTitleType{
        height: 6.4%;
    }

    .testClass3{
        border: 1px solid black;
        border-radius: 6px;
        padding: .5rem 1.5rem;
        color: white;
        width: 4rem;
        text-align: center;
        margin: 10px auto;
    }
    
}

@media(max-width: 500px){

    .testClass3{
        border: 1px solid black;
        border-radius: 6px;
        padding: .5rem 1.5rem;
        color: white;
        width: 3rem;
        text-align: center;
        margin: 10px auto;
        font-size: smaller;
    }
}