.teamview-container{
    display: grid;
    grid-template-areas:
    'search2'
    'info'
    'team';
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    background-color: white;
    border-radius: 12px;
    width: 70%;
    min-height: 550px;
    padding: 12px;
    
}


.search2{
    grid-area: search2;
}

.search2 > input{
    min-width: 175px;
    height: 25px;
    border: none;
    border-bottom: double;
    margin-right: 1%;
}


.errorMessage{
    font-size: medium;
    color: black;
    margin-bottom: none;
}
#info{
    grid-area: info;
}

#info >div> p{
    text-align: center;
    font-size:xx-large;
    font-weight: 600;
    margin-bottom: none;
    
}

#info >div>img{

    margin:auto;
    width: 20%
}

.teamCard-container{
    grid-area: team;
    border: 1px solid white;
    background-color: white;
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-areas: 
    'Pokesprite profile-view';
    grid-template-columns: 2fr 6fr;
    
}

.teamCard-container:hover{
    cursor: pointer;
    border-color: goldenrod;
    border-radius: 12px;
}




.teamCard-header{
    
    grid-area: profile-view;
    display: grid;
    grid-template-areas:
    ' name . delete';
    align-content: center;
    
}

.teamCard-header > div{
    display: grid;
    grid-area: delete;
    height: min-content;
    justify-content: end;
}



.teamCard-delete{
    
    border: none;
    
    font-size: large;
    width: 2rem;
    height: 50%;
    background-color: white;
    
    color: red;
}

.teamCard-delete:hover{
    color: rgb(128, 0, 0);
    cursor: pointer;
}

.teamCard-header > p{
    font-weight: 600;
    letter-spacing: .12rem;
    grid-area: name
}

.poke-sprite{
    
    height: 100%;
    align-content: center;
    justify-content:center;
    margin: none;
}



@media (min-width: 600px) {

    .teamview-container{
        display: grid;
        grid-template-areas:
        'search2 search2'
        'info team'
        ;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content 1fr;
        background-color: white;
        border-radius: 12px;
        width: 70%;
        min-height: 491px;
        padding: 12px;
        
    }

    .teamCard-container{
        grid-area: team;
        border: 1px solid white;
        background-color: white;
        width: 100%;
        height: 4.99rem;
        display: grid;
        grid-template-areas: 
        'Pokesprite profile-view';
        grid-template-columns: 2fr 6fr;
        
    }

    .errorMessage{
        color: black;
    }
}