.teamview-container{
    display: grid;
    grid-template-areas:
    'search2'
    'info'
    'team';
    grid-template-columns: 1fr;
    grid-template-rows: min-content 2fr 1fr;
    background-color: white;
    border-radius: 12px;
    width: 100%;
    min-height: 550px;
    padding: 12px;
}

#input{
    font-size:17px;
}


.search2{
    grid-area: search2;
}

.search2 > input{
    min-width: 175px;
    height: 25px;
    border: none;
    border-bottom: double;
    margin-right: 1%;
}


.errorMessage{
    font-size: medium;
    color: black;
    margin-bottom: none;
}


.info{
    grid-area: info;
    font-size:xx-large;;
}

.infoContainer{
    display: grid;
    grid-template-areas: 
    'infoName infoStats'
    'infoAbility infoAbility';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .6fr min-content;
}

.infoViewCard{
    grid-area:infoName;
    margin-right: 0;
}
.infoViewCard > p{
    padding: 15px;
    padding-right: 0;
    padding-left: 0;
    font-size: x-large;
}

.info-image{
    width: 100%;
    height: auto;
    
}

#infoStats{
    border: 1px solid black;
    border-radius: 12px;
    font-size:small;
    grid-area: infoStats;
    margin-top: 32px;
    display: grid;
    grid-template-areas:
    'statTitle statContent';
    grid-template-columns: 50% 50%;
}

.statTitle{
    grid-area: statTitle;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(55, 36, 224);
    color: white;
}



div.statTitle p:nth-child(even){
    margin: 0;
    padding: 13px;
    background-color: rgb(94, 79, 226);
}

.statContent{
    display: flex;
    flex-direction: column;
    grid-area: statContent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(168, 168, 168);
}

div.statContent p:nth-child(even){
    margin: 0;
    padding: 13px;
    background-color: white;
}

#infoStats > div{
    border-bottom: 1px solid black;
}

.infoStats > p > span{
    text-align: right;
    color:rgb(0, 110, 255);
}

.infoTypes{
    display:flex;
    flex-flow: row;
    grid-area: infoStats;
}

.infoAbility{
    margin-top: 40px;
    grid-area: infoAbility;
}

.infoAbility > h2{
    text-align: left;
    margin: 0;
    margin-left: 1%;
    
}

.abilityTitle{
    display: flex;
    justify-content: center;
    align-content: center;
}

.abilityButton{
    border: 1px solid rgb(0, 110, 255);
    border-radius: 24px;
    font-size: medium;
    min-width: 40%;
    margin: 5%;
    margin-bottom: 4%;
    padding: 3%;
}

.abilityButton:hover{
    background-color:rgb(0, 110, 255);
    color: white;
}


#abilityDescription{
    max-height: 420px;
}
#info >div> p{
    text-align: center;
    font-weight: 600;
    margin-bottom: none;
    
}

#info >div>img{
    margin:auto;
    width: 20%
}

.teamCard-container{
    grid-area: team;
    border: 1px solid white;
    background-color: white;
    max-width: 100%;
    height: min-content;
    display: grid;
    grid-template-areas: 
    'Pokesprite profile-view';
    grid-template-columns: 2fr 6fr;
}

.teamCard-container:hover{
    cursor: pointer;
    border-color: goldenrod;
    border-radius: 12px;
}




.teamCard-header{
    grid-area: profile-view;
    display: grid;
    grid-template-areas:
    ' name . delete';
    align-content: center;
}

.teamCard-header > div{
    display: grid;
    grid-area: delete;
    height: min-content;
    justify-content: end;
}



.teamCard-delete{
    border: none;
    font-size: large;
    width: 2rem;
    height: 50%;
    background-color: white;
    color: red;
}

.teamCard-delete:hover{
    color: rgb(128, 0, 0);
    cursor: pointer;
}

.teamCard-header > p{
    font-weight: 600;
    letter-spacing: .12rem;
    grid-area: name
}

.poke-sprite{
    height: 100%;
    align-content: center;
    justify-content:center;
    margin: none;
}



@media (min-width: 600px) {

    .teamview-container{
        display: grid;
        grid-template-areas:
        'search2 search2'
        'info team'
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content 1fr;
        background-color: white;
        border-radius: 12px;
        width: 80%;
        min-height: 491px;
        padding: 12px;
    }

    .teamCard-container{
        grid-area: team;
        border: 1px solid white;
        background-color: white;
        max-width: 100%;
        height: 16.5%;
        display: grid;
        grid-template-areas: 
        'Pokesprite profile-view';
        grid-template-columns: 2fr 6fr;
        margin-left: 20px;
    }

    .infoContainer{
        display: grid;
        grid-template-areas: 
        'infoName infoStats'
        'abilities abilities';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
    }

    .infoAbility{
        margin-top: 40px;
        grid-area: abilities;
    }

    .errorMessage{
        color: black;
    }
}