.startContainer{
    display: grid;
    grid-template-areas:
    '. . . .'
    '. startWelcome startSignIn .'
    '. . . .';
    grid-template-rows: .20fr 1fr 1fr;
}

.startWelcome{
    
    grid-area: startWelcome;
}

.startSignIn{
    grid-area: startSignIn;
}

h2{
    color: rgb(0, 0, 0);
}
